
*{

	margin:0;
	padding:0;
}

table{
	
	border-collapse: collapse;
	width: 500px;
	margin:5% auto;
}

td{
	border: 10px solid black;
	padding: 40px;
}

.white{
	background-color: #FFFFFF;
}
.red {
	background-color: #FF5730;
}
.yellow{
	background-color: #FFF358;
}
.blue{
	background-color: #034184;
}
.black{
	background-color: #1A2521;
}